// Заголовки, загальні БЕМ блоки та інше...
.button {
	display: flex;
	padding: rem(8) rem(40);
	gap: 8px;
	align-items: center;
	border-radius: 24px;
	border: 2px solid #fff;
	background: #fff;
}

.dot {
	width: rem(10);
	height: rem(10);
	background-color: #fff;
	border-radius: 50%;
}

.dot--red {
	background-color: #fc0000;
}

.dot-yellow {
	background-color: #ecaa00;
}

.dot--green {
	background-color: #009d10;
}
.h2 {
	color: #000;
	@include adaptiveValue("font-size", 36, 24);
	line-height: math.div(56, 36);
}

.label {
	color: $Gray;
	font-size: 20px;
	line-height: 32px;
}

.text {
	color: $Gray;

	font-size: 20px;
	line-height: 32px;
}
