//====================================================================================================
.main {
	min-height: 100vh;
	background-color: $DarkBlue;
}
//========================================================================================================================================================

.services {
	// .services__container
	margin-top: rem(80);

	&__container {
	}

	// .services__header

	&__header {
		text-align: center;
		color: $Gray;
		font-size: 20px;
		line-height: 32px;
	}
	// .services__openCustomers

	&__openCustomers {
	}
	// .services__connectCustomers

	&__connectCustomers {
	}
}
.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: rem(12);
	// .feature__heder

	&__heder {
		color: #000;
		font-family: Manrope;
		font-size: 48px;
		line-height: 72px;
		max-width: 840px;
	}

	// .feature__list

	&__list {
		// flex: 1 1 auto;
		margin-top: rem(80);
		display: grid;
		justify-items: center;
		width: 100%;
		grid-template-columns: repeat(3, 1fr);
		justify-items: space-between;
	}

	// .feature__item

	&__item {
		margin-bottom: rem(30);
		display: grid;
		text-align: start;
		grid-template-columns: minmax(min-content, 300px);
		img {
			max-width: 100%;
			margin-bottom: rem(24);
		}
		h4 {
			font-size: rem(24);
			line-height: math.div(36, 24);
			color: #000;
			margin-bottom: rem(12);
		}
	}

	// .feature__button

	&__button {
		display: inline-flex;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -10px;
			left: 0;
			background-color: #000;
		}

		span {
			display: block;
		}
		img {
			margin: auto 0;
			padding-left: 5px;
		}
	}
}

//====================================================================================================

.openCustomers {
	margin-top: rem(180);
	margin-bottom: rem(180);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(150);
	@include adaptiveValue("gap", 150, 50, 0, 1400, 1050);
	text-align: left;
	@media (max-width: em(1050)) {
		grid-template-columns: 1fr;
	}

	// .openCustomers__images

	&__images {
		position: relative;

		> img {
			height: 100%;
			max-width: 100%;
			object-fit: cover;
			border-radius: rem(24);
			@media (max-width: em(1050)) {
				height: auto;
			}
			@media (max-width: $mobile) {
				// filter: blur(5px);
				object-view-box: inset(0% 0% 15% 30%);
			}
		}
		div {
			position: absolute;
			padding: rem(40);
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: $LightGrey;
			border-radius: rem(24);
			max-width: 250px;
			max-height: max-content;
			top: 45%;
			left: 38%;
			@media (max-width: em(1050)) {
				position: absolute;
				width: 100%;
				height: 90%;
				top: 5%;
				right: 5%;
				left: auto;
			}
			@media (max-width: em(600)) {
				display: none;
			}
			img {
				max-width: 100%;
			}
			h3 {
				color: #000;
			}
		}
	}

	// .openCustomers__content

	&__content {
		color: #000;

		ul {
			margin-top: rem(40);
			margin-bottom: rem(56);
			li {
				padding-left: 60px;
				position: relative;
				&:not(:last-child) {
					margin-bottom: 24px;
				}
				&::after {
					content: "";
					position: absolute;
					width: 36px;
					height: 36px;
					top: 0;
					left: 0;
					background: url("@img/connect/check.svg") 50% 50% no-repeat;
					background-color: #000;
					border-radius: 50%;
				}
			}
		}
		a {
			display: inline-flex;
			color: $LightGrey;
			padding: rem(16) rem(56);
			background-color: $DarkBlue;
			border-radius: 56px;
			@media (max-width: $mobile) {
				// width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}
}
//========================================================================================================================================================

.connectCustomers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	// .connectCustomers__content

	&__content {
		flex: 0 1 50%;
		h2 {
			margin-bottom: rem(64);
		}
		ul > :first-child {
			background-color: $DarkBlue;
		}
		ul {
			display: flex;
			flex-direction: column;
			max-width: 500px;
			gap: 24px;
			li {
				padding: rem(10) rem(60);
				padding-left: 15px;
				display: flex;
				border-radius: 4px;
				box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
			}
		}
	}

	// .connectCustomers__Images

	&__Images {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.ImagesCustomers {
	// .ImagesCustomers__cnt

	&__cnt {
	}

	// .ImagesCustomers__card

	&__card {
		position: relative;
		width: max-content;
		height: min-content;
		display: flex;
		max-width: 380px;
		flex-direction: column;
		background-color: #fff;
		padding: rem(32);
		border-radius: 12px;
		gap: 30px;
		box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
		top: -200px;
		left: 15%;
		margin-bottom: rem(-150);

		img {
			max-width: 175px;
			align-self: center;
		}
		ul {
			color: #000;
			li {
				padding-left: 15px;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					width: 5px;
					height: 5px;
					top: 50%;
					left: 0;
					border-radius: 50%;
					background-color: $DarkBlue;
				}
			}
			& :nth-child(1) {
				&::before {
					background-color: $LightBlue;
				}
			}
			& :nth-child(2) {
				&::before {
					background-color: $Green;
				}
			}
			& :nth-child(3) {
				&::before {
					background-color: $LightGrey;
				}
			}
		}
	}
}
//========================================================================================================================================================
.sliderTemplate {
	// .sliderTemplate__container
	background-color: $DarkBlue;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	// .sliderTemplate__header

	&__header {
		margin-top: rem(96);
		color: #fff;
		font-family: Manrope;
		font-size: 48px;
		line-height: 72px;
	}

	// .sliderTemplate__slider

	&__slider {
	}

	// .sliderTemplate__wrapper

	&__wrapper {
	}

	// .sliderTemplate__slide

	&__slide {
		display: flex;
		justify-content: center;
	}
}
.swiper {
	position: relative;
	margin-bottom: rem(96);
}
.swiper-wrapper {
}
.swiper-slide {
	// .swiper-slide__item

	&__item {
		padding: rem(40);
		background-color: #fff;
		width: 350px;
		font-size: rem(24);
		border-radius: 12px;
		line-height: math.div(36, 24);
	}

	// .swiper-slide__text

	&__text {
		width: rem(270);
		margin-bottom: rem(40);
	}

	// .swiper-slide__person

	&__person {
		display: flex;
		align-items: center;
		color: $DarkBlue;
		img {
			width: 50px;
			height: rem(50);
			display: block;
			object-fit: cover;
			max-width: 100%;
			margin-right: 15px;
		}
		h3 {
			font-size: 16px;
			font-weight: 700;
			line-height: 32px;
		}
		p {
			font-size: 14px;
			line-height: 32px;
		}
	}
}
.swiper-buttons {
	position: relative;
	display: flex;
	justify-content: end;
	gap: 20px;
	margin-top: rem(-50);
	margin-bottom: rem(20);
}
.swiper-button-prev {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: #fff;
	border-radius: 50%;
}
.swiper-button-next {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: #fff;
	border-radius: 50%;
	rotate: 180deg;
}
//======================================================================================================================================================== customers
.customers {
	// .customers__container

	&__container {
	}

	// .customers__image

	&__image {
		max-width: 1100;
		border-radius: 24px;
		overflow: hidden;
		margin-top: 124px;
		img {
			max-width: 100%;
		}
	}

	// .customers__content

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 56px;
		gap: 100px;
		@include adaptiveValue("margin-bottom", 150, 50, 0, 1200, 992);
		@include adaptiveValue("gap", 100, 50, 0, 1200, 992);
		@media (max-width: $tablet) {
			flex-direction: column;
		}
		h2 {
			flex: 0 1 50%;
			font-family: Manrope;
			font-size: 36px;
			line-height: 56px;
			max-width: 500px;
			@media (max-width: $tablet) {
				max-width: none;
			}
		}
	}
}
.spollers {
	flex: 0 1 50%;
	display: flex;
	flex-direction: column;
	align-items: end;

	// .spollers__item

	&__item {
		display: flex;
		flex-direction: column;
		// flex: 1 1 auto;
		width: 100%;
	}

	// .spollers__title

	&__title {
		flex: 1 1 auto;
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(25);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -10px;
			left: 0;
			background-color: $Gray;
		}
		img {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $DarkBlue;
			border-radius: 50%;
			padding: 3px;
		}
	}

	// .spollers__body

	&__body {
		margin-bottom: rem(10);
		color: #000;

		font-family: Open Sans;
		font-size: 20px;
		line-height: 32px;
	}
}
//======================================================================================================================================================== blog
.blog {
	// .blog__container

	&__container {
	}

	// .blog__head

	&__head {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .blog__header

	&__header {
		font-size: rem(48);
		line-height: math.div(72, 48);
		font-family: "Manrope";
		text-align: center;
		max-width: 850px;
		margin-bottom: rem(80);
	}

	// .blog__label

	&__label {
		color: $Gray;
		font-size: 20px;
		line-height: 32px;
		margin-bottom: rem(12);
	}

	// .blog__content

	&__content {
		// display: flex;
		// align-items: center;
		// justify-content: space-between;
		// @include adaptiveValue("gap", 50, 20);
		display: grid;
		grid-template-columns: repeat(3, min-content);
		grid-template-rows: auto;
		@include adaptiveValue("gap", 50, 20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 40);
		}
	}

	// .blog__button

	&__button {
		display: flex;
		justify-content: center;
	}
}
.blog-art {
	// .blog-art__image
	display: grid;
	grid-template-rows: auto auto 1fr min-content;

	&__image {
	}

	// .blog-art__label

	&__label {
		display: flex;
		gap: 12px;
		margin-bottom: rem(12);
		span {
			color: $DarkBlue;
			font-weight: 700;
			line-height: 28px;
		}
		div {
			color: $Gray;
			font-size: 16px;
			line-height: 28px;
		}
	}

	// .blog-art__text

	&__text {
		display: grid;
		grid-template-rows: subgrid;
		font-size: 20px;
		line-height: 32px;
		margin-bottom: rem(20);
	}

	// .blog-art__persone

	&__persone {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
.button-white {
	padding: rem(16) rem(56);
	border: 2px solid #000;
	border-radius: 56px;
	font-size: rem(20);
	line-height: math.div(28, 20);
	font-weight: 700;
}
//==================== enterprice ====================
.enterprice {
	background-color: $DarkBlue;
	@include adaptiveValue("margin-top", 120, 30);

	// .enterprice__container

	&__container {
		padding-top: rem(72);
		h2 {
			color: #fff;
			text-align: center;
			font-family: Manrope;
			font-size: 48px;
			line-height: 72px;
			max-width: 700px;
			margin-bottom: rem(50);
		}
	}

	// .enterprice__form

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
		@include adaptiveValue("padding-bottom", 75, 20);
		input {
			min-width: 370px;
			padding: rem(16) rem(32);
			border-radius: 240px;
			&:focus-visible {
				outline: none;
			}
		}
		button {
			display: flex;
			padding: 16px 56px;
			background-color: $Green;
			border-radius: 240px;
			color: $DarkBlue;
			font-size: 20px;
			font-weight: 700;
			line-height: 28px;
			// &:focus-visible {
			// 	outline: none;
			// }
		}
	}
}
